<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        body {
            background: rgb(255, 255, 255);
        }
    
    </style>
</head>
<body>
    <form>
  <div class="form-group">
    <label for="exampleInputName">IMIE</label>
    <input type="name" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="imie">
  </div>
  <div class="form-group">
    <label for="exampleInputMail">ADRES E-MAIL</label>
    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="E-mail">
  </div>
  <div class="form-group">
    <label for="examplecard">NUMER KARTY</label>
    <input type="cardnumber" class="form-control" id="exampleInputcardnumber" placeholder="Numer karty">
    <button type="potwierdź" class="btn btn-primary">Submit</button>
</form> 
</body>
</html>